body {
    background: url("../img/bgindex.jpg") no-repeat;
    background-size: auto;
}

.ui.center.aligned.header.xd {
    font-size: 4em;
    color: whitesmoke;
    margin: 30px;
}

.x-cont-header {
    width: 80%;
    margin: auto;
    height: 200px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h3 {
    color: whitesmoke;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
}

.empty {
    height: 8%;
}

/* ------------------------- LOGIN ------------------------- */
.x-cont-login {
    width: clamp(300px, 400px, 400px);
    margin: auto;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.ui.form {
    padding: clamp(5px, 40px, 50px);
    margin: auto;
}

.ui.form .field>label {
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
}

.xd-df {
    display: flex;
}

.xd-df button {
    align-items: center;
}

.ui.submit.button {
    margin: 50px auto 10px auto;
}

.xd-ma p {
    display: flex;
}

.xd-ma p a {
    margin: auto;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
@media screen and (max-width: 1024px) and (orientation: portrait){
    body {
        background-size: cover;
    }
}

@media screen and (max-width: 550px) and (orientation: portrait){
    body {
        background-size: auto;
    }
}