/* ------------------------- HEADER AND BODY ------------------------- */
body {
    background: url("../img/bgindex.jpg") no-repeat;
    background-size: auto;
}

.ui.center.aligned.header.xd {
    font-size: 4em;
    color: whitesmoke;
    margin: 25px;
}

.read {
    display: flex;
    width: 100px;
    justify-content: center;
    margin: 15px auto;
}

.x-cont-header {
    width: 80%;
    margin: auto;
    height: 200px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.empty {
    height: 8%;
}

.ui.center.aligned.header.xd.xd-title,
.xd-title {
    font-family: 'Orbitron', sans-serif;
}

/* ------------------------- LOGIN ------------------------- */
.ui.form .field>label {
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
}

.xd-df button {
    align-items: center;
}

.xd-ma p {
    display: flex;
}

.xd-ma p a {
    margin: auto;
}

.wrong-pass {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: red;
    margin-top: 25px;
}

.xd-ma p a:focus {
    outline: 1px solid #32a1ce;
    border-radius: 2px;
    padding: 3px;
}


/* ------------------------- ABOUT ------------------------- */
.x-cont-header-abt{
    width: 80%;
    margin: 0 auto 30px auto;
    padding-bottom: 30px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.cont-about {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
    overflow: auto;
    height: 45%;
}

.about {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 60px;
    margin: auto;
}

.box {
    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.box i {
    margin: 40px auto;
}

.box h3 {
    margin-bottom: 10px;
}

.reg-mb {
    margin-bottom: 30px;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
@media screen and (max-width: 1280px) and (orientation: landscape) {
    .cont-about {
        display: flex;
        justify-content: center;
        margin: 0 auto 30px auto;
        overflow: auto;
        height: 45%;
    }
    .about {
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .about {
        grid-gap: 10px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait){
    body {
        background-size: cover;
    }
}

@media screen and (max-width: 912px) and (orientation: portrait){
    /*body {*/
    /*    background-size: cover;*/
    /*}*/
    .cont-about {
        height: 55%;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait){
    .cont-about {
        height: 50%;
    }
}

@media screen and (max-width: 550px) and (orientation: portrait){
    body {
        background-size: auto;
    }
    .x-cont-header {
        width: 80%;
        margin: auto;
        height: 230px;
    }
}

@media screen and (max-width: 393px) and (orientation: portrait){
    .x-cont-login {
        width: 350px;
    }
}