body {
    background: url("../img/bgmain.jpg") no-repeat;
    background-size: auto;
}

/* ------------------------- HEADER ------------------------- */
.ui.center.aligned.header.xd {
    font-size: 4em;
    color: whitesmoke;
    margin: 8px auto;
}

.x-cont-header {
    width: 80%;
    margin: auto;
    height: 100px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Empty div*/
.middle-empty {
    height: 3%;
}

.empty {
    height: 8%;
}

/* User icon*/
i.icon.user.circle.outline:before {
    color: lightskyblue;
}

.cont-icon {
    display: flex;
    justify-content: center;
}

/* ------------------------- SEARCH ------------------------- */
.ui.search {
    display: flex;
    justify-content: center;
}

.ui.search div {
    margin: auto;
    width: 300px;
}

.ui.icon.input>input {
    text-align: center;
}


/* ------------------------- VIEW ALL / ADD / LOGOUT ------------------------- */
.options {
    display: flex;
    width: 100%;
    justify-content: space-around;

    position: absolute;
    margin: auto;
    bottom: 30px;
}

.ui.inverted.primary.button {
    width: 95px;
}


/* ------------------------- TABLES ------------------------- */
.cont-table {
    height: 50%;
    overflow: auto;
}

.ui.table {
    color: whitesmoke;
    margin: auto;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.ui.table tr th {
    color: whitesmoke;
    height: 50px;
    width: 300px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
}

.ui.table td, .ui.table tr {
    text-align: center;
}

a {
    margin: auto 20px;
}


/* ------------------------- TABLE ALT ------------------------- */

.ui[class*="very basic"].table {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
    padding: 10px;
}

.ui.celled.table tr td {
    width: 1px;
}

.username {
    font-weight: bold;
}


/* ------------------------- NOTIFICATION ------------------------- */
.notif {
    display: flex;
    height: 50px;
    width: 350px;
    margin: auto auto 30px auto;
    justify-content: center;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.not-content {
    height: 150px;
    width: 700px;
    align-items: center;
}

.notif h2, h3 {
    color: orangered;
    line-height: 45px;
    text-align: center;
}

.x-margin {
    display: flex;
    margin: auto;
    justify-content: center;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
@media screen and (max-width: 1024px) and (orientation: portrait){
    body {
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
    .cont-table {
        height: 40%;
        overflow: auto;
    }
}

@media screen and (max-width: 550px) and (orientation: portrait){
    body {
        background-size: auto;
    }
    .ui[class*="very basic"].table {
        width: 350px;
    }
    .ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
        color: transparent;
        height: 0;
    }
    a {
        margin: auto 7px;
    }
    .not-content {
        width: 400px;
    }
    .not-content li {
        font-size: 12px;
    }
}

@media screen and (max-width: 540px) and (orientation: portrait){
    .ui[class*="very basic"].table {
        width: 300px;
    }
    .cont-table {
        height: 45%;
        overflow: auto;
    }
    .options button {
        width: 95px;
    }
}

@media screen and (max-width: 320px) and (orientation: portrait){
    .ui[class*="very basic"].table {
        width: 250px;
    }
    .cont-table {
        height: 40%;
        overflow: auto;
    }
}

@media screen and (max-width: 280px) and (orientation: portrait) {
    .x-cont-header {
        width: 70%;
        margin: auto;
        height: 100px;
    }
    .ui.search div {
        margin: auto;
        width: 250px;
    }
    .ui[class*="very basic"].table {
        width: 250px;
    }
    .cont-table {
        height: 40%;
        overflow: auto;
    }
}