/*  ------------------------- HEADER TITLE  ------------------------- */

.ui.center.aligned.header.xd.xd-title {
    font-family: 'Orbitron', sans-serif;
}

/*  ------------------------- ERROR / SUCCESS BOXES  ------------------------- */

.x-cont-login {
    width: clamp(300px, 400px, 400px);
    margin: auto;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.ui.form {
    padding: clamp(5px, 40px, 50px);
    margin: auto;
}

.xd-df {
    display: flex;
    justify-content: center;
}

.ui.submit.button {
    margin: 50px auto 10px auto;
}


/* ------------------------- ERROR / SUCCESS COLORS ------------------------- */
.error {
    color: orangered;
}

.success {
    color: lightgreen;
}

h3, h5 {
    color: whitesmoke;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
}


/* ------------------------- A ELEMENT STYLE FOCUS ------------------------- */
a:focus {
    outline: 1px solid #32a1ce;
    border-radius: 2px;
    padding: 3px;
}


/* ------------------------- ABOUT  ------------------------- */

.address.card.outline.icon,
.shield.alternate.icon,
.save.outline.icon,
.keyboard.outline.icon {
    color: #32a1ce;
    font-size: 100px;
}


/* ------------------------- FOOTER ------------------------- */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

.footer {

    height: 50px;

    /* Glass style */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.footer h4 {
    line-height: 310%;
    color: whitesmoke;
    text-align: center;
    font-weight: normal;
}


/* ------------------------------ MEDIA QUERIES ------------------------------ */

/* Full Monitor */
@media screen and (max-width: 1920px) and (orientation: landscape){
    footer {
        position: absolute;
    }
}

/* Nest Hub */
@media screen and (max-width: 1280px) and (orientation: landscape){
    footer {
        position: relative;
    }
    .address.card.outline.icon,
    .shield.alternate.icon,
    .save.outline.icon,
    .keyboard.outline.icon {
        color: #32a1ce;
        font-size: 50px;
    }
}